Pandas data aggregation

In [207]:
import pandas as pd

In [208]:
df = pd.DataFrame({ 
                   'Item': ['pen', 'pencil', 'pencil', 'eraser', 'pen', 'pen'],
                   'Color': ['green', 'red', 'green', 'white', 'green', 'white'],
                   'Price' : [5.50, 4.00, 3.00, 1.00, 3.00, 1.00]
                         })

df

     Item  Color  Price
0     pen  green    5.5
1  pencil    red    4.0
2  pencil  green    3.0
3  eraser  white    1.0
4     pen  green    3.0
5     pen  white    1.0

`count`

In [209]:
c = df.Item.count()
print('Total number of items:',c,'\n')

c = df.Color.count()
print('Total number of colors:',c)

Total number of items: 6

Total number of colors: 6

`sum`

In [210]:
display(df.sum())

print('Total price =', df.Price.sum())

Item      penpencilpencileraserpenpen
Color    greenredgreenwhitegreenwhite
Price                            17.5
dtype: object

Total price = 17.5

`min` and `max`

In [228]:
max = df.Price.max()
print('Maximum price:',max)
n_occur = df.Price.value_counts()[max]
print('Items most in number:',max)
print(f'"{max}" has occurred {n_occur} time(s) in the Item column.\n')
#'''

min = df.Price.min()
print('Minimum price:',min,'\n')

# Count the value of occurences using `value_counts()`
n_occur = df.Price.value_counts()[min]
# print(df['Item'].value_counts()['eraser']) # will also work if uncommented
print(f'"{min}" has occurred {n_occur} time(s) in the Item column.')

n_occur = df.Item.value_counts()['pen']
print(f'"pen" has occurred {n_occur} time(s) in the Item column.')

Maximum price: 5.5
Items most in number: 5.5
"5.5" has occurred 1 time(s) in the Item column.

Minimum price: 1.0

"1.0" has occurred 2 time(s) in the Item column.
"pen" has occurred 3 time(s) in the Item column.

`mean`, `median`, and `mode`:

In [245]:
print('Average Price =',df.Price.mean())
#print(df.Color.mean()) #throws error

print('Median value of Price =',df.Price.median(),'\n')

print('Mode for entire DataFrame:')
display(df.mode())

print('Mode of color:')
display(df.mode()['Color'])
display(df.Color.mode())

print('`mode` creates a DatFrame/Series.')
print('Converting the mode for Color (Series) to a list')
lst = df.Color.mode().to_list()
print('lst =',lst)
print('From this single item list `lst`, printing its element (value of the mode):')
print('Most occurred Color (mode value)=',lst[0])

display('Mode Series of Price:',df.Price.mode())
print('In case of Price, we have multiple modes. Hence 2 index values.')
print('Mode value(s) of Price =',*df.Price.mode().to_list()) # `*list` produces items of `list`. 

display('Mode Series of Item:',df.Price.mode())
print('Mode value(s) of Item =',*df.Item.mode().to_list())

Average Price = 2.9166666666666665
Median value of Price = 3.0

Mode for entire DataFrame:

  Item  Color  Price
0  pen  green    1.0
1  NaN    NaN    3.0

Mode of color:

0    green
1      NaN
Name: Color, dtype: object

0    green
Name: Color, dtype: object

`mode` creates a DatFrame/Series.
Converting the mode for Color (Series) to a list
lst = ['green']
From this single item list `lst`, printing its element (value of the mode):
Most occurred Color (mode value)= green

'Mode Series of Price:'

0    1.0
1    3.0
Name: Price, dtype: float64

In case of Price, we have multiple modes. Hence 2 index values.
Mode value(s) of Price = 1.0 3.0

'Mode Series of Item:'

0    1.0
1    3.0
Name: Price, dtype: float64

Mode value(s) of Item = pen

<font color='grey'> Pandas `groupby` method is its "divide-and-rule"  mechanism. Using this method, we can group data based on a category or value. Using `groupby`, we can perform split-apply-combine on a dataset:\
\
 <span style="color:magenta">*Splitting*:</span> Division into groups of datasets.\
 <span style="color:magenta">*Applying*:</span> Application of function on each group.\
 <span style="color:magenta">*Combining*:</span> Combination of all results obtained from different groups. </font>


*Syntax:\
DataFrame.groupby(by=None, axis=_NoDefault.no_default, level=None, as_index=True, sort=True, group_keys=True, observed=_NoDefault.no_default, dropna=True)\
by => mapping, function, label, pd.Grouper or list of such.
*

For more details, visit: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [213]:
#g = df['Item'].groupby(df['Color'])
g0 = df.groupby(['Item'])
g1 = df.groupby('Color')
print(g0, g1, sep='  ', end='\n')
print(g0.groups,'\n',g1.groups)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x120b03a90>  <pandas.core.groupby.generic.DataFrameGroupBy object at 0x11d3ebfd0>
{'eraser': [3], 'pen': [0, 4, 5], 'pencil': [1, 2]}
 {'green': [0, 2, 4], 'red': [1], 'white': [3, 5]}

Let's combine `groupby` with other aggregating method.

`groupby` and `count`

In [214]:
print('Grouping items and counting:')
print('Method 0: `as_index=True` (default)')
df1 = df.copy()
df2 = df1.groupby('Item').count()
df2.index.name = None
df2.columns.name = 'Item'
df2 = df2.rename(columns={'Color':'Quantity'})
df2

print('Method 1: `as_index=False`')
df2 = df1.groupby('Item', as_index=False).count()
display(df2)
print('Since counted irrespective of colors,\n \
we create a new DataFrame and rename "Color" by "Quantity".')
df2 = df2.rename(columns={'Color':'Quantity'}) 
display(df2)

Grouping items and counting:
Method 0: `as_index=True` (default)
Method 1: `as_index=False`

     Item  Color  Price
0  eraser      1      1
1     pen      3      3
2  pencil      2      2

Since counted irrespective of colors,
 we create a new DataFrame and rename "Color" by "Quantity".

     Item  Quantity  Price
0  eraser         1      1
1     pen         3      3
2  pencil         2      2

`groupby` and `sum`

In [215]:
df1 = df.copy()

df1 = df.groupby('Item', as_index=False).sum()
display(df1)


g = df.groupby(['Color'], as_index=False)
print(g.sum())
print()

group = df.groupby(['Item'])
print(group.sum())
print(group.sum(numeric_only=True))

     Item            Color  Price
0  eraser            white    1.0
1     pen  greengreenwhite    9.5
2  pencil         redgreen    7.0

   Color          Item  Price
0  green  penpencilpen   11.5
1    red        pencil    4.0
2  white     eraserpen    2.0

                  Color  Price
Item
eraser            white    1.0
pen     greengreenwhite    9.5
pencil         redgreen    7.0
        Price
Item
eraser    1.0
pen       9.5
pencil    7.0

`groupby` and `mean`

In [216]:
g =df.groupby('Item').mean(numeric_only=True)
g

           Price
Item
eraser  1.000000
pen     3.166667
pencil  3.500000

`groupby` and `agg`

In [217]:
g =df.groupby('Item').agg({'Color': ['min', 'max'], 'Price': 'mean'})
g

        Color            Price
          min    max      mean
Item
eraser  white  white  1.000000
pen     green  white  3.166667
pencil  green    red  3.500000

`groupby` and `transform`:

In [218]:
df1 = df.copy()
print('Creating a new column with average price:')
df1['Mean Price'] = df1.groupby('Item')['Price'].transform('mean')
df1

Creating a new column with average price:

     Item  Color  Price  Mean Price
0     pen  green    5.5    3.166667
1  pencil    red    4.0    3.500000
2  pencil  green    3.0    3.500000
3  eraser  white    1.0    1.000000
4     pen  green    3.0    3.166667
5     pen  white    1.0    3.166667

`groupby` and `filter`:

In [219]:

df1 =df.copy()
g = df.groupby('Item')
df2 = g.filter(lambda x: x['Price'].mean() > 3.)
display(df2)

     Item  Color  Price
0     pen  green    5.5
1  pencil    red    4.0
2  pencil  green    3.0
4     pen  green    3.0
5     pen  white    1.0

`groupby` and `apply`:

In [220]:
def plus10(x):
    return x+10
  

df1 =df.copy()
g = df.groupby('Item')['Price'].apply(plus10)
print(g)

g = df.groupby('Item')['Price'].transform(plus10)
g

Item
eraser  3    11.0
pen     0    15.5
        4    13.0
        5    11.0
pencil  1    14.0
        2    13.0
Name: Price, dtype: float64

0    15.5
1    14.0
2    13.0
3    11.0
4    13.0
5    11.0
Name: Price, dtype: float64

`groupby` and `getgroup` (to be deprecated):

In [221]:
df1 = df.copy()
#g = df1.groupby('Item').sum()
#g = df1.groupby(['Item', 'Color'])
g = df1.groupby(['Item'])
display(g)
gg = g.get_group('pen')
display(gg)


#g = df1.groupby(['Item', 'Color'])
g = df1.groupby(['Item'])
display(g)
gg = g[['Item','Color']].get_group('pencil')
#gg = g.get_group('pencil')
display(gg)

# Recommended to use
# `df.iloc[gb.indices.get(name)`

  Item  Color  Price
0  pen  green    5.5
4  pen  green    3.0
5  pen  white    1.0

     Item  Color
1  pencil    red
2  pencil  green

In [222]:
Fruit = ['Apple']*8
Fruit2 = ['Orange']*4
Fruit.extend(Fruit2)
Fruit3 = ['Banana']*3
Fruit.extend(Fruit3)
print('Fruit =',Fruit)


Name = ['A']*3
Name2 = ['B']*2
Name3 = ['C']*3
Name4 = ['A']*5
Name5 = ['B']*2
Name.extend(Name2)
Name.extend(Name3)
Name.extend(Name4)
Name.extend(Name5)
print('Name =',Name)


Number = [10, 20, 10, 20, 20, 30, 20, 40, 10, 10, 20, 30, 50, 40, 20]
Price = [1.5, 2.34, 6.25, 1.5, 2.30, 3.35, 2.30, 1.5, 6.6, 2.30, 6.0, 1.5, 2.50, 1.5, 2.34]

dff = pd.DataFrame({'Fruit':Fruit, 'Name':Name, 'Number':Number, 'Price':Price})
dff

Fruit = ['Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Orange', 'Orange', 'Orange', 'Orange', 'Banana', 'Banana', 'Banana']
Name = ['A', 'A', 'A', 'B', 'B', 'C', 'C', 'C', 'A', 'A', 'A', 'A', 'A', 'B', 'B']

     Fruit Name  Number  Price
0    Apple    A      10   1.50
1    Apple    A      20   2.34
2    Apple    A      10   6.25
3    Apple    B      20   1.50
4    Apple    B      20   2.30
5    Apple    C      30   3.35
6    Apple    C      20   2.30
7    Apple    C      40   1.50
8   Orange    A      10   6.60
9   Orange    A      10   2.30
10  Orange    A      20   6.00
11  Orange    A      30   1.50
12  Banana    A      50   2.50
13  Banana    B      40   1.50
14  Banana    B      20   2.34

In [223]:
print(dff.groupby(['Name', 'Fruit'])['Number'].sum(), end='\n\n')

print(dff.groupby(['Name', 'Fruit'])['Price'].sum(), end='\n\n')

print(dff.groupby(['Name', 'Fruit','Number'])['Price'].sum()) 
                         # This won't sum as 'Price' is the end brunch.
                         # However, it'll display all the breakups.

Name  Fruit
A     Apple     40
      Banana    50
      Orange    70
B     Apple     40
      Banana    60
C     Apple     90
Name: Number, dtype: int64

Name  Fruit
A     Apple     10.09
      Banana     2.50
      Orange    16.40
B     Apple      3.80
      Banana     3.84
C     Apple      7.15
Name: Price, dtype: float64

Name  Fruit   Number
A     Apple   10        7.75
              20        2.34
      Banana  50        2.50
      Orange  10        8.90
              20        6.00
              30        1.50
B     Apple   20        3.80
      Banana  20        2.34
              40        1.50
C     Apple   20        2.30
              30        3.35
              40        1.50
Name: Price, dtype: float64

In [224]:
g = df.groupby(['Item','Price'])
display(g.sum())

              Color
Item   Price
eraser 1.0    white
pen    1.0    white
       3.0    green
       5.5    green
pencil 3.0    green
       4.0      red

Extra

In [225]:
import numpy as np
dfx = pd.DataFrame([('bird', 2, 2),
                   ('mammal', 4, np.nan),
                   ('arthropod', 8, 0),
                   ('bird', 2, np.nan)],
                  index=('falcon', 'horse', 'spider', 'ostrich'),
                  columns=('species', 'legs', 'wings'))
dfx

           species  legs  wings
falcon        bird     2    2.0
horse       mammal     4    NaN
spider   arthropod     8    0.0
ostrich       bird     2    NaN

In [226]:
display(dfx.mode())

dfx2 = dfx.mode()['legs']
display(dfx2)
lst = dfx2.to_list()
print(lst)

mdcol =dfx.mode(axis='columns', numeric_only=True)
mdind = dfx.mode(axis='index', numeric_only=True)
display(mdcol)
display(mdind)

  species  legs  wings
0    bird   2.0    0.0
1     NaN   NaN    2.0

0    2.0
1    NaN
Name: legs, dtype: float64

[2.0, nan]

           0    1
falcon   2.0  NaN
horse    4.0  NaN
spider   0.0  8.0
ostrich  2.0  NaN

   legs  wings
0   2.0    0.0
1   NaN    2.0